@import url('./globals.css');

section#portfolio {
  background-color: var(--primaryContainer);
}

section#porfolio p span {
  color: var(--primary);  
}

@media (min-width: 1024px) {
  section#portfolio h2, p, button {
    max-width: 30rem;
  }
}